{{define "content"}}
    <nav>
        <ul>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </nav>
    <form method="POST" action="/auth/login">
        <input name="email" placeholder="Email"/>
        <input type="password" name="pass" placeholder="Password"/>
        <div id="error" style="visibility:hidden;">&nbsp;</div>
        <a href="/forgot">Forgot password?</a><br />
        <input id="login" type="submit" value="Login" />
        <p>or Sign in With</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </form>
{{end}}
{{define "scripts"}}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="/js/login.js"></script>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="/js/google.js"></script>
{{end}}
