{{define "content"}}
    <nav>
        <ul>
            <li><a id="logout" href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <form method="POST" action="/setup/post">
        <input id="fullname" name="fullname" placeholder="Full name" value="{{.FullName}}" />
        <input id="address" name="address" placeholder="Address" value="{{.Address}}" />
        {{if not .GoogleAPI}}<input id="email" name="email" placeholder="Email" value="{{.Email}}" />{{end}}
        <input id="phone" name="phone" placeholder="Phone" value="{{.Phone}}" />
        <input type="hidden" name="googleapi" value="{{.GoogleAPI}}" />

        <div id="error" style="visibility:hidden;">&nbsp;</div>
        <input id="setup" type="submit" value="Save" />
    </form>
{{end}}
{{define "scripts"}}
<script src="https://apis.google.com/js/platform.js" defer></script>
<script src="/js/address.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6zAy6Cq7MgXHZI1Ms_wZe_L1TH324xDk&libraries=places&callback=initMap"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="/js/setup.js"></script>
<script src="/js/google.js"></script>
{{end}}
